body {
  background: white;
  height: 100%;
}
@media (prefers-color-scheme: dark) {
  body{
    background: black;
    color: white;
  }
}
h1 {
    text-align: center;
}

.clickbox:hover{
  alert("test");
}

.result{
  border-color: green;
  border-style: solid;;
  with: 50px;
  height: 50px;
  padding: 2%;
  border-radius: 5px;
}
.categories {
    background-color: darkgreen;
    width: 92%;
    height: 16%;
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
}
.categories:hover{
    background-color: green;
}
.indented1{
  margin-left: 20px;
}
.boden{
  name: boden;
}

.standort{
  name: standort;
}
