body {
  background: white;
  height: 100%;
  border-radius: 5%;
}
@media (prefers-color-scheme: dark) {
  body{
    background: black;
    color: white;
  }
}
h1 {
    text-align: center;
}
.categories {
    background-color: darkgreen;
    width: 92%;
    height: 16%;
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
}
.categories:hover{
    background-color: green;
}
